<a href="https://colab.research.google.com/github/MdMamunSheikh/Nurse-Care-Challenge-2020/blob/main/src/python/Data_labeling_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Read raw data

#####Import necessary libraries and module

#####File path list

In [ ]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import pytz
import time
 
pd.set_option("display.max_row", 1000,"display.max_columns",100)

In [ ]:
MAIN_PATH = "/content/drive/My Drive/ML/Nursing care activity recognitions challenge 2020/Datasets/Field/raw_field_acc_user"
field_users = ["04","07","08","18","38","51"]
field_label = "/content/drive/My Drive/ML/Nursing care activity recognitions challenge 2020/Datasets/Field/field_label_train.csv"
lab_users = "/content/drive/My Drive/ML/Nursing care activity recognitions challenge 2020/Datasets/Lab/bigact_raw_lab_acc.csv"
lab_label = "/content/drive/My Drive/ML/Nursing care activity recognitions challenge 2020/Datasets/Lab/labels_lab_2users.csv"

#####Function defination to read csv files

In [ ]:
#function to read csv formatted file with additional features
def read_file(f):
#read raw file
  tic = time.time()
  s = time.time()
  df = pd.read_csv(f)
  e = time.time()
  print("Time Elapsed to read csv file:", e-s, "seconds\n") 
  print("Raw data size before dropping N/A:",df.shape,"\n")
#drop N/A and duplicate rows
  s = time.time()
  df.dropna(inplace = True)
  print("Raw data size after dropping N/A:",df.shape,"\n")
  df.drop_duplicates(inplace = True)
  print("Raw data size after dropping duplicate rows:",df.shape,"\n")
  e = time.time()
  print("Time Elapsed to drop N/A and duplicate rows:", e-s, "seconds\n")
 
  try :
#datetime conversion
    s = time.time()
    df["datetime"] = pd.to_datetime(df["datetime"], utc = True)
    e = time.time()
    print("Time Elapsed to datetime conversion:", e-s, "seconds\n")
#sorting according to datetime column
    s = time.time()
    df = df.sort_values(by = "datetime", ascending = True)
    e = time.time()
    print("Time Elapsed to sort dataframe:", e-s, "seconds\n")
    toc = time.time()
    print("Total Time:",toc -tic, "seconds\n\n\n\n")
#return dataframe
    return df
            
  except Exception as err:
#datetime conversion
    s = time.time()
    df["start"] = pd.to_datetime(df["start"], utc = True)
    df["finish"] = pd.to_datetime(df["finish"], utc = True)
    e = time.time()
    print("Time Elapsed to datetime conversion:", e-s, "seconds\n")
#sorting according to start column
    s = time.time()
    df  = df.sort_values(by = "start", ascending = True)
    e = time.time()
    print("Time Elapsed to sort dataframe:", e-s, "seconds\n")
    toc = time.time()
    print("Total Time:",toc -tic, "seconds\n\n\n\n")
#returm dataframe
    return df

#####Load datasets

In [ ]:
print("Field label data loading...")
f_label = read_file(field_label)
print("Lab users data loading...")
l_users = read_file(lab_users)
print("Lab label data loading...")
l_label = read_file(lab_label)

Field label data loading...
Time Elapsed to read csv file: 0.012775182723999023 seconds

Raw data size before dropping N/A: (1477, 4)

Raw data size after dropping N/A: (1477, 4)

Raw data size after dropping duplicate rows: (1477, 4)

Time Elapsed to drop N/A and duplicate rows: 0.008674860000610352 seconds

Time Elapsed to datetime conversion: 0.06871795654296875 seconds

Time Elapsed to sort dataframe: 0.0012733936309814453 seconds

Total Time: 0.09249591827392578 seconds




Lab users data loading...
Time Elapsed to read csv file: 1.0240652561187744 seconds

Raw data size before dropping N/A: (1064483, 5)

Raw data size after dropping N/A: (1064483, 5)

Raw data size after dropping duplicate rows: (617479, 5)

Time Elapsed to drop N/A and duplicate rows: 0.4566478729248047 seconds

Time Elapsed to datetime conversion: 10.058229923248291 seconds

Time Elapsed to sort dataframe: 0.11320972442626953 seconds

Total Time: 11.653942108154297 seconds




Lab label data loading...
Time Elapsed to read csv file: 0.004894256591796875 seconds

Raw data size before dropping N/A: (423, 4)

Raw data size after dropping N/A: (423, 4)

Raw data size after dropping duplicate rows: (386, 4)

Time Elapsed to drop N/A and duplicate rows: 0.006062984466552734 seconds

Time Elapsed to datetime conversion: 0.07219910621643066 seconds

Time Elapsed to sort dataframe: 0.0012164115905761719 seconds

Total Time: 0.08602213859558105 seconds

In [ ]:
user = {}
st = time.time()
for i in field_users:
  print("user"+i,": Reading file...")
  user[i] = read_file(MAIN_PATH+i+".csv")
et = time.time()
print("Total time to read field users datasets:",et-st,"seconds\n")

user04 : Reading file...
Time Elapsed to read csv file: 17.94185709953308 seconds

Raw data size before dropping N/A: (12625774, 5)

Raw data size after dropping N/A: (12625774, 5)

Raw data size after dropping duplicate rows: (8720962, 5)

Time Elapsed to drop N/A and duplicate rows: 14.606249570846558 seconds

Time Elapsed to datetime conversion: 141.51723504066467 seconds

Time Elapsed to sort dataframe: 1.5204291343688965 seconds

Total Time: 175.58749437332153 seconds




user07 : Reading file...
Time Elapsed to read csv file: 22.305169582366943 seconds

Raw data size before dropping N/A: (15716507, 5)

Raw data size after dropping N/A: (15716507, 5)

#####Shapes of the datasets

In [ ]:
print("Field label data size:",f_label.shape)
print("Lab user data size:",l_users.shape)
print("Lab label data size:",l_label.shape)

In [ ]:
for i in field_users:
  print("user"+i+" data size",user[i].shape)

###Datasets labelling

#####Function defination to merge dataframe

In [ ]:
#function to merge lab and field datasets
def merge_df(users, label) :
#make sure that both df have to same user_id
  st = time.time()
  lists = []
  for id in users.keys():
    print("user"+id+" processing...\n")
    s = time.time()
    mask = label["user_id"] == users[id].loc[0, "user_id"]
    new_df = label.loc[mask]
    l = len(new_df)
    new_df.index = range(l)
    X,Y,Z,T =[],[],[],[]
    #print(new_df)
 
    for i in range(l) :
      mask = (users[id].datetime >= new_df.loc[i,"start"]) & (users[id].datetime <= new_df.loc[i,"finish"])
      df = users[id].loc[mask]
    #  print ("df.shape",df.shape)
      if df.shape[0] == 0 :
        new_df.drop([i], inplace = True)
      else:
        X.append(df["x"].to_numpy(dtype = np.float32).reshape(-1,1))
        Y.append(df["y"].to_numpy(dtype = np.float32).reshape(-1,1))
        Z.append(df["z"].to_numpy(dtype = np.float32).reshape(-1,1))
        T.append(df["datetime"].to_numpy().reshape(-1,1))
    
    new_df["X"] = X
    new_df["Y"] = Y
    new_df["Z"] = Z
    new_df["T"] = T
    new_df.index = range(len(new_df.index))
 
    e = time.time()
    print("Time Elapsed to label user" + id + ":", e-s, "sec\n")
    print("Size of user" + id + " before labelling:", l," \n")
    print("Size of user" + id + " after labelling:", len(new_df),"\n\n\n")
 
    lists.append(new_df)
 
  labelled_df = pd.concat(lists, ignore_index = True)
  print("Final labelled data size:",labelled_df.shape," \n")
  et = time.time()
  print("Total time to label datasets:",et - st,"seconds\n\n\n")
 
  return labelled_df

#####Labelling datasets

######Field data labelling

In [ ]:
field_labelled = merge_df(user,f_label)

In [ ]:
field_labelled.info()

######Lab data labelling

In [ ]:
#Don't run this cell twice.
#add 59 seconds to "finish" column
l_label.finish = l_label.finish + pd.Timedelta(seconds = 59.9999)
l_label.head(10)

In [ ]:
 
#make a dictionary based on lab data
l_user01 = l_users.loc[l_users.user_id == 1]
l_user01.index = range(len(l_user01))
l_user19 = l_users.loc[l_users.user_id == 19]
l_user19.index = range(len(l_user19))
lab_users = {"01":l_user01, "19":l_user19}
lab_users

In [ ]:
lab_labelled = merge_df(lab_users,l_label)

######Information about field and lab data

In [ ]:
field_labelled.info()

In [ ]:
lab_labelled.info()

#####Save the labelled dataframe as pkl format

Best compression parameters is zip

######Save and reload field data

In [ ]:
PATH = "/content/drive/My Drive/ML/Nursing care activity recognitions challenge 2020/Datasets/Labelled data/"
field_labelled.to_pickle(PATH+"labelled_field_data.pkl", compression = "zip")

In [ ]:
del field_labelled

In [ ]:
field_labelled = pd.read_pickle(PATH + "labelled_field_data.pkl", compression = "zip")
field_labelled.info()

######Save and reload lab data

In [ ]:
lab_labelled.to_pickle(PATH + "labelled_lab_data.pkl", compression = "zip")

In [ ]:
del lab_labelled

In [ ]:
lab_labelled = pd.read_pickle(PATH + "labelled_lab_data.pkl", compression = "zip")
lab_labelled.info()

In [ ]:
user = pd.read_csv(lab_users)
user.head(10)

In [ ]:
l_users.tail(1000)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_pickle('/content/drive/MyDrive/ML/Nursing care activity recognitions challenge 2020/Datasets/Labelled data/Field.pkl', compression = 'gzip')
df

     user_id  ...          period
0          4  ... 0 days 00:00:45
1          4  ... 0 days 00:00:31
2          4  ... 0 days 00:00:54
3          4  ... 0 days 00:00:40
4          4  ... 0 days 00:00:59
..       ...  ...             ...
933       51  ... 0 days 00:00:08
934       51  ... 0 days 00:00:10
935       51  ... 0 days 00:00:06
936       51  ... 0 days 00:00:10
937       51  ... 0 days 00:00:09

[938 rows x 9 columns]